
.logo{
    width: 60px;
    height: 60px;
}
.navbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leftside{
    margin: 20px auto;
}
.rightside {
    text-align: right;
    margin: 30px 150px;
}
.navlinks{
    margin-left: 20px;
    text-decoration: none;
    color: #242F9B;
}
.cart-indicator{
    font-size: 12pt;
    background-color: #242F9B;
    border-radius: 2px;
    color: white;
    
    margin-bottom: 10px;
    height: 50%;
}
.logout-btn{
  background-color: #242F9B;
  color: white;
  padding: 7px;
  border-style: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
}
