.product-container{
    display: flex;
}
.productCard{
    background-color: #9BA3EB;
    margin: 20px 20px;
    text-align: center;
    padding: 10px 10px;
    width: 400px;
    border-radius: 10px;
}
.productImg{
    height: 150px;
    width: 200px;
}
.productName{
    background-color: #646FD4;
    width: 70%;
    padding: 5px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 14pt;
}
.product-info{
    color: white;
    margin: 10px;
}